<header class="header">
  <div class="pagename"><h2>{{title}}</h2></div>
  <div>
    <nav class="nav">
      <ul>
        <li><a href="/">Forside</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/continents">Continents</a></li>
        <li><a href="/forms">Forms</a></li>
      </ul>
    </nav>
  </div>
</header>