<div class="main">

  <div class="about">
    <h3>{{title}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, animi?
      Maxime dolorem eveniet voluptatibus temporibus quis autem atque!
      Perspiciatis, impedit.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad error
      dolorem veniam totam commodi quas?</p>
    <p>Veritatis natus voluptatem nulla inventore aspernatur ullam nesciunt,
      tenetur exercitationem ea alias quas earum. Saepe!</p>
    <p>Itaque doloremque sapiente sit dolore, pariatur inventore ut quia ipsam
      perspiciatis porro repellat eius commodi.</p>

  </div></div>