<div class="main">

  <div class="continents">

    <ul>
      {{#each data}}
        <pre><li>{{@index}}: <b>{{@key}}</b>, {{this}}</li></pre>
      {{else}}
        <p class="empty">No content</p>
      {{/each}}
    </ul>

  </div>

  </div>