<div class="main">
  {{#if email}}
    <h1>{{name}}, Thank you for signing up with {{email}}</h1>
  {{else}}
    <div class="forms">
      <form action="/signup" method="post">
        <h3>Enter your email to get the secret code</h3>
        <div class="email">
          <input type="text" name="nameInput" placeholder="Name" />
          <input type="email" name="emailInput" placeholder="Email address" />
          <input type="submit" value="Give me the code!" />
        </div>
      </form>
    </div>
  {{/if}}
</div>