
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:burlywood;
}

nav>ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a {
  color: #00B7FF;
}

header, footer {
  background-color: rgb(49, 5, 5);
  color:white;
  padding: 0.5rem;
}

footer{
  margin-top: .5rem;
}

.pagename{
  line-height: 1.5;
}

.main {
  padding: 1rem;
}



